@import '../../../theme/Colors';

.Header {
  background-color: rgba($black, 0.5);
  border-bottom: 2px solid $boxShadow;
  .HeaderLogo {
    background-color: rgba($white, 0.6);
    border-radius: 50px;
    &:hover {
      background-color: $white;
    }
  }
  .NavContainer {
    padding: 0 10px;
  }
  .NavInnerContainer {

  }
}