@import '../../utils/Colors';
.Item {
  width: 100%;
  max-width: 500px;
  background-color: $primary;
  border-radius: 4px;
  padding: 4px;
  box-shadow: 0 0 20px 0 $boxShadow;
  color: $label;
  font-size: 14px;
  font-family: "Comic Sans MS", cursive, sans-serif;
  &:hover{
    color: $white;
    background-color: $secondary;
    box-shadow: 0 0 20px 0 $boxShadowHover;
    transform: scale(1.1);
  }
}