@import '../../../theme/Colors';

.PrimaryButton {
  height: 100%;
  max-height: calc(100vh - 54px);
  width: 100%;
  background-color: $primary;
  border-radius: 4px;
  color: $white;
  font-size: 14px;
  font-family: "Comic Sans MS", cursive, sans-serif;
  border: 2px solid $boxShadow;
  transition: all 0.3s ease;
  &:hover{
    cursor: pointer;
    box-shadow: inset 0 0 20px 8px $boxShadowHover;
  }
  &:focus{
    outline:0;
  }
}